.page-footer {
  background: map-get($colors, background-color);
  text-align: center;
  .footer {
    &-item {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
    &-item:not(:first-child) {
      h6 {
        @include pxRem(font-size, 16);
        @include pxRem(line-height, 32);
      }
    }
    &-item:first-child {
      width: 32%;
    }
    &-item:nth-child(2) {
      width: 23%;
    }
    &-item:nth-child(3) {
      @include pxRem(padding-right, 80);
      width: 25%;
    }
    &-item:last-child {
      width: 20%;
    }
    &-item {
      &-list-info {
        @include pxRem(font-size, 14);
        @include pxRem(line-height, 24);
      }
      &-list-info:first-child {
        @include pxRem(padding, 4 0);
      }
      &-list-info:nth-child(2),
      &-list-info:nth-child(3) {
        @include pxRem(margin-top, 4);
        @include pxRem(padding-bottom, 4);
      }
    }
    &-img {
      img {
        @include pxRem(width, 108 !important);
        @include pxRem(height, 40 !important);
      }
      &-info {
        @include pxRem(margin-right, 90);
      }
    }
    &-detail {
      @include pxRem(padding-left, 5);
      @include pxRem(font-size, 14);
      @include pxRem(line-height, 24);
    }
    &-info-item > a {
      display: flex;
      align-items: center;
    }
    &-info-item:first-child {
      @include pxRem(padding-bottom, 8);
    }
    &-info-item:nth-child(2) {
      @include pxRem(margin-top, 8);
      @include pxRem(padding-bottom, 8);
    }
    &-info-item:last-child {
      @include pxRem(margin-top, 8);
    }
    &-form {
      @include pxRem(width, 247);
      flex-direction: column;
    }
    &-input {
      @include pxRem(border-radius, 16);
      @include pxRem(padding, 8 16);
      @include pxRem(height, 39);
      border: #{f-pxRem(1)} solid map-get($colors, border-solid);
      color: map-get($colors, second-primary);
      width: inherit;
      &::placeholder {
        color: map-get($colors, placeholder);
      }
      &:hover {
        border: #{f-pxRem(1)} solid map-get($colors, second-primary);
      }
    }
    .btn.footer-btn {
      @include pxRem(padding, 8 0);
      @include pxRem(height, 40);
      width: inherit;
    }
  }
  @include respond-below(large) {
    .footer {
      &-list {
        flex-wrap: wrap;
      }
      &-item:first-child {
        width: 38%;
      }
      &-item:nth-child(2) {
        width: 22%;
      }
      &-item:nth-child(3) {
        width: 40%;
      }
      &-item:last-child {
        @include pxRem(margin-top, 40);
        width: 100%;
      }
      &-form {
        width: 100%;
      }
    }
  }
  @include respond-below(medium) {
    .footer {
      &-item:first-child {
        @include pxRem(margin-bottom, 24);
        width: 100%;
      }
      &-item:nth-child(2) {
        width: 40%;
      }
      &-item:nth-child(3) {
        width: 60%;
        padding: 0;
      }
      &-item:last-child {
        @include pxRem(margin-top, 24);
      }
      &-img-info {
        margin: 0;
      }
    }
  }
}
